/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-800{
    background-color: #121212!important;
}

.bg-special{
    background-color: #1F1B24!important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1F1B24;
    border-radius: 2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1F1B24c5; 
  }